<nav class="navbar navbar-expand-sm bg-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Logout</a>
    </li>
  </ul>

</nav>

<div class="container" *ngIf="listData">
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <form  #formData="ngForm" (ngSubmit)=inputData(usr)>
            <label for="usr">Search:</label>
            <input type="text" class="form-control" id="usr" 
            [(ngModel)]="usr" name="usr" (keyup)="inputData($event)">
            </form>
          </div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Title</th>
            <!-- <th scope="col">Year</th> -->
            <!-- <th scope="col">Color</th>
            <th scope="col">Value</th> -->
          </tr>
        </thead>
        <p *ngIf="listUser?.length == 0" >There is no such user</p>
        <tbody (click)="getUserDetail(data,i)" *ngFor="let data of listUser,let i = index">
          <tr>
            <!-- <th scope="row">{{data.id}}</th> -->
            <td>{{data.userId}}</td>
            <td>{{data.title}}</td>
            <!-- <td>{{data.year}}</td> -->
            <!-- <td>{{data.color}}</td>
            <td>{{data.pantone_value}}</td> -->
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" (click)="addUser()">
        Add
      </button>
    </div>
    <div class="col-sm-6">
      <app-dashboardcreate *ngIf="showUserDetail"
      [uerDetail]="uerDetail"
      (editedDetals) = "getDataFromChild($event)"
      (buttonClicked) = "getClickedValue($event)"
      ></app-dashboardcreate>
    </div>
  </div>
</div>
  <app-model *ngIf="showAdd"
  (AddUserData)="getAddedData($event)"
  ></app-model>

