<div class="table-wrapper">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <th scope="row">{{data.id}}</th> -->
        <td>{{uerDetail.userId}}</td>
        <td>{{uerDetail.title}}</td>
        <td>{{uerDetail.body}}</td>
        <td><button type="button" class="btn btn-warning" (click)="editData()" data-toggle="modal" data-target="#myModal">Edit</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container" *ngIf="buttonClicked">
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit form</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form #formEdit="ngForm" (ngSubmit)="editedData(fetchData)">
            <div class="form-group">
              <label for="id">Id:</label>
              <input type="id" class="form-control" id="userId" placeholder="Enter id" 
              name="fetchData.userId" [(ngModel)]="fetchData.userId">
            </div>
            <div class="form-group">
              <label for="name">Title:</label>
              <input type="text" class="form-control" id="title" placeholder="Enter title" 
              name="fetchData.title" [(ngModel)]="fetchData.title">
            </div>
        
            <div class="form-group">
              <label for="body">Body:</label>
              <input type="text" class="form-control" id="body" placeholder="Enter body" 
              name="fetchData.body" [(ngModel)]="fetchData.body">
            </div>
        
            <div class="form-group">
              <label for="job">Ocupation</label>
              <select id="job" name="job" [(ngModel)]="job"
                      class="form-control">
                <option *ngFor="let dept of jobs" [value]="dept.id">
                  {{dept.name}}
                </option>
              </select>
            </div>
        
            <div class="form-group">
              <label for="createdAt">Created At:</label>
              <input type="text" class="form-control" id="createdAt" placeholder="Enter year" 
              name="createdAt" [(ngModel)]="createdAt">
            </div>
        
            <div class="form-group">
              <label>Gender</label>
              <div class="form-control">
                <label class="radio-inline">
                  <input type="radio" name="gender" value="male" [(ngModel)]="gender">
                  Male
                </label>
                <label class="radio-inline">
                  <input type="radio" name="gender" value="female" [(ngModel)]="gender">
                  Female
                </label>
              </div>
            </div>
          
        
        <!-- Modal footer -->
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
      </div>
    </div>
  </div>
  
</div>

