<div class="wrapper">
  <form #formData="ngForm" (ngSubmit)="addData(formData.value)">
    <div class="form-group">
      <label for="id">Id:</label>
      <input type="id" class="form-control" id="userId" placeholder="Enter id" 
      name="userId" [(ngModel)]="userId">
    </div>
    <div class="form-group">
      <label for="name">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" 
      name="title" [(ngModel)]="title">
    </div>

    <div class="form-group">
      <label for="body">Body:</label>
      <input type="text" class="form-control" id="body" placeholder="Enter body" 
      name="body" [(ngModel)]="body">
    </div>

    <div class="form-group">
      <label for="job">Ocupation</label>
      <select id="job" name="job" [(ngModel)]="job"
              class="form-control">
        <option *ngFor="let dept of jobs" [value]="dept.id">
          {{dept.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="createdAt">Created At:</label>
      <input type="text" class="form-control" id="createdAt" placeholder="Enter year" 
      name="createdAt" [(ngModel)]="createdAt">
    </div>

    <div class="form-group">
      <label>Gender</label>
      <div class="form-control">
        <label class="radio-inline">
          <input type="radio" name="gender" value="male" [(ngModel)]="gender">
          Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" value="female" [(ngModel)]="gender">
          Female
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
