<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <img *ngIf="loading" class="loader" src="https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif" />
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" #formData="ngForm" (ngSubmit)=login(formData)>
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="email" class="text-info">Username:</label><br>
                                <input type="text" name="email" id="email" class="form-control" 
                                [(ngModel)]="email" #nameControl="ngModel" required
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                                <!-- <div *ngIf="nameControl.invalid && (nameControl.dirty || nameControl.touched)" class="alert alert-danger"> -->
                                  <div *ngIf="nameControl.invalid && isFormSubmit" class="alert alert-danger">
                                  <div *ngIf="nameControl.errors.required">
                                    Username is required.
                                  </div>
                                  <div *ngIf="nameControl.errors.pattern">
                                    Pattern is not valid.
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control"
                                [(ngModel)]="password" #passwordControl="ngModel" required>
                                <div *ngIf="passwordControl.invalid && isFormSubmit" class="alert alert-danger">
                                  <div *ngIf="passwordControl.errors.required">
                                    Password is required.
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                              <!-- <input type="submit" name="submit" [disabled]="!formData.valid" class="btn btn-info btn-md" value="submit"> -->
                              <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<input type="submit" name="submit" (click)="show()" class="btn btn-info btn-md" value="add">